@{
    ViewData["Title"] = "Regular Expenses";
}

@model  IEnumerable<ExpensesControlApp.ViewModels.RegExpViewModel>
<div class="container col-10">
    
    <div class="row pt-4">
        <div class="col">
            <h2 id="title" class="text-dark">Regular Expenses</h2>
        </div>

    </div>
    <div class="row pt-4">
        <div class="col-6">
            <form id="form" asp-action="Index">
                <input id="sort-input" name="sortOrder" hidden />
            </form>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-dark" asp-action="Create">
                Add new Expense
            </a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-hover mb-5" style="width:100%">
            <thead>
                <tr>
                    
                    <th>
                        <a role="button" data-list="@ViewBag.NameSortParm" class="sort-link text-decoration-none text-dark">Expense Name</a>
                    </th>
                    <th>
                        <a role="button" data-list="@ViewBag.AmountSortParm" class="sort-link text-decoration-none text-dark">Amount</a>
                   </th>

                    <th>
                        <a role="button" data-list="@ViewBag.TimeSortParm" class="sort-link text-decoration-none text-dark">Time Span</a>
                   </th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var regExpense in Model)
                {

                    <tr>
                        <td class="col-3">@regExpense.ExpenseName</td>
                        <td class="col-3">@regExpense.Amount.ToString("N")</td>
                        <td class="col-3">@regExpense.TimeSpan</td>
                        <td class="col-3">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-outline-success mx-1" asp-route-regExpenseId="@regExpense.RegularExpenseId" asp-action="Update">
                                    <i class="fa fa-pen"></i>
                                </a>
                                <a class="delete-btn btn btn-outline-danger mx-1" data-list="@regExpense.RegularExpenseId">
                                    <i class="fa fa-trash-can"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                <partial name="_ConfirmBar"/>
            </tbody>
        </table>
    }
    else
    {
        <h1>No Regular Expenses Created Yet</h1>
    }
    
</div>
@section MyScripts {
    <script>
        
        let sortOrder = '@TempData["SortOrder"]';
        function hideConfirmBar(speed = "slow") {
            $("#confirm-bar").slideUp(speed);
        }
        $(document).click(function (event) {
            var $target = $(event.target);
            var isInside = $target.closest("#confirm-bar").length || $target.closest(".delete-btn").length;
            if (!isInside) hideConfirmBar("fast");
        });
        $(".delete-btn").click(function () {
            $("#confirm-bar").insertAfter($(this).closest('tr'));
            $("#confirm-bar").slideDown("slow");
            $(".deleteId").attr("value", $(this).data('list'));
        });
        $(".sort-link").click(function () {
            $("#sort-input").attr("value", $(this).data('list'));
            $("#form").submit();
        });
    </script>
}
