@{
    ViewData["Title"] = "Expenses";
    bool isEntriesNotNull = Model.ExpenseEntryVMs?.Count() > 0;
    bool isRegExpensesNotNull = Model.RegularExpenseVMs?.Count() > 0;
}

@model ExpensesControlApp.ViewModels.ExpenseManagerVM
<div class="container col-10">
    <div class="row pt-4">
        <div class="col">
            <h2 id="title" class="text-dark">@Model.Title</h2>
        </div>

    </div>
    <div class="row pt-4">
        <div class="col-6">
            <form id="form" asp-action="Index">
                <input id="sort-input" name="sortInput" hidden />
                <input id="time-input" name="timeInput" hidden />
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Time Span
                    </button>
                    <ul class="dropdown-menu" id="dropdown-bar" aria-labelledby="dropdownMenu">
                        <li><button data-list="today" class="drop-btn dropdown-item">Today</button></li>
                        <li><button data-list="week" class="drop-btn dropdown-item">This Week</button></li>
                        <li><button data-list="month" class="drop-btn dropdown-item">This Month</button></li>
                        <li><button data-list="total" class="drop-btn dropdown-item">Total</button></li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-6 text-end">
            <a class="btn btn-outline-dark" asp-action="Create">Add new Expense</a>
        </div>
    </div>
    <br />

    @if (isEntriesNotNull || isRegExpensesNotNull)
    {
        <table class="table table-bordered table-hover mb-5" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a role="button" data-list="@ViewBag.NameSortParm" class="sort-link text-decoration-none text-dark">Expense Name</a>
                    </th>
                    <th>
                        <a role="button" data-list="@ViewBag.AmountSortParm" class="sort-link text-decoration-none text-dark">Amount</a>
                    </th>

                    <th>
                        <a role="button" data-list="@ViewBag.DateSortParm" class="sort-link text-decoration-none text-dark">Date</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (isRegExpensesNotNull)
                    @foreach (var regExpense in Model.RegularExpenseVMs)
                    {
                        <tr class="table-secondary">
                            <td class="col-3">@regExpense.ExpenseName</td>
                            <td class="col-3">@regExpense.Amount?.ToString("N")</td>
                            <td class="col-3">@regExpense.TimeSpan</td>
                            <td class="col-3"></td>
                        </tr>
                    }
                @if (isEntriesNotNull)
                    @foreach (var entry in Model.ExpenseEntryVMs)
                    {
                        <tr>
                            <td class="col-3">@entry.ExpenseName</td>
                            <td class="col-3">@entry.Amount?.ToString("N")</td>
                            <td class="col-3">@entry.Date.ToShortDateString()</td>
                            <td class="col-3">
                                <div class="w-100 btn-group" role="group">
                                    <a class="btn btn-outline-success mx-1" asp-route-entryId="@entry.EntryId" asp-action="Update">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                    <a class="delete-btn btn btn-outline-danger mx-1" data-list="@entry.EntryId">
                                        <i class="fa fa-trash-can"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                <partial name="_ConfirmBar" />
            </tbody>
        </table>
        <div id="stats-bar">
            <div class="d-none d-sm-flex flex-row h4">
                <div class="col-3">
                    <p class="text-end px-2">Total:</p>
                </div>
                <div class="col-3">

                    <p id="total" class="px-2">@Model.Total.ToString("N")</p>
                </div>
                <div class="col-3 @(Model.Available["ContainerClass"])">
                    <p class="text-end px-2 fw-bold">@Model.Available["Label"]</p>
                </div>
                <div class="col-3 @(Model.Available["ContainerClass"])">
                    <p id="available" class="px-2 fw-bold">@Model.Available["Value"]</p>
                </div>
            </div>

            <div class="d-sm-none d-flex flex-column align-items-center h4">
                <div class="row">
                    <div class="col-6">
                        <p class="text-end px-2">Total:</p>
                    </div>
                    <div class="col-6">

                        <p id="total" class="px-2">@Model.Total.ToString("N")</p>
                    </div>
                </div>
                <div class="row @(Model.Available["ContainerClass"])">
                    <div class="col-6">
                        <p class="text-end px-2 fw-bold">@Model.Available["Label"]</p>
                    </div>
                    <div class="col-6">
                        <p id="available" class="px-2 fw-bold">@Model.Available["Value"]</p>
                    </div>
                </div>
            </div>
            <div class="progress mb-2" style="height: 5px;">
                @{
                    var max = Model.Limit == 0 ? @Model.Total : Model.Limit;
                    var percentage = Math.Round(@Model.Total * 100 / max);
                }
                <div class="progress-bar bg-dark" style="width: @(percentage)%;" role="progressbar" aria-valuenow="@Model.Total" aria-valuemin="0" aria-valuemax="@max" >

                </div>
                
            </div>
        </div>
    }
    else
    {
        <h1>No Expenses made in this Time Span</h1>
    }

</div>
@section MyScripts {
<script>
    let timeSpan = '@TempData["TimeSpanInput"]';
    let sortOrder = '@TempData["SortOrderInput"]';

    function hideConfirmBar(speed = "slow") {
        $("#confirm-bar").slideUp(speed);
    }
    $(document).click(function (event) {
        var $target = $(event.target);
        var isInside = $target.closest("#confirm-bar").length || $target.closest(".delete-btn").length;
        if (!isInside) hideConfirmBar();
    });
    $(".delete-btn").click(function () {
        $("#confirm-bar").insertAfter($(this).closest('tr'));
        $("#confirm-bar").slideDown("slow");
        $(".deleteId").attr("value", $(this).data('list'));
    });
    $(".sort-link").click(function () {
        $("#sort-input").attr("value", $(this).data('list'));
        $("#time-input").attr("value", timeSpan);
        $("#form").submit();
    });
    $(".drop-btn").click(function () {
        $("#time-input").attr("value", $(document.activeElement).data('list'));
        $("#sort-input").attr("value", sortOrder);
    });
</script>
}
